/* src/app/billing/billing-history/billing-history.component.css */
.billing-history {
  padding: 20px;
}

.billing-card {
  background-color: var(--background-color);
  color: var(--highlight-color);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.billing-card button {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.billing-card button:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
}
